.fc {
    .fc-button-primary {
      border: none;
      border-radius: 0;
      background: #000000;
    }
    .fc-daygrid-event-dot {
      display: none;
    }
    .fc-day-today.fc-col-header-cell {
      animation: background-color-animation 2s 0.08s infinite;
      transition: right 1s;
    }
    .fc-day-today > .fc-daygrid-day-frame {
      background: white;
    }
    .fc-event-time {
      color: gray;
    }
    .fc-toolbar-chunk {
      text-align: end;
    }
}