.page {
  &__title {
    animation: background-color-animation 20s 0.08s infinite;
    min-height: 370px;
    h1 { 
        font-family: 'Circular Std Black';
    }
    h2 {
        font-family: 'Circular Std Black';
    }
  }
}
